.copy-text {
    margin: 0 !important;
    font-weight: 400;
}

.modal-header .close {
    opacity: 1;
    font-size: 48px;
    margin-top: -40px;
    color: #d9534f;
}

.delect-model {
    text-align: center;
}

.delect-model img {
    max-width: 20%;
    margin: 0 auto;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
}

.container-a a {
    color: rgb(255, 162, 86);
    text-decoration: none;
    transition-duration: .2s;
}

.container-a a:hover {
    color: #ffffff;
    text-decoration: none;
    transition-duration: .2s;
}

a:hover {
    text-decoration: none !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.nav-head {
    color: #fff;
    font-size: 19px;
    margin: 14px auto;
    display: table;
    font-weight: 100;
}

.header-full {
    padding: 25px 10px;
    position: absolute;
    top: -113px;
    left: 0;
    right: 0;
    background-color: rgb(255, 162, 86);
    transition-duration: .8s;
    z-index: 1;
}

.header-full:hover {
    padding: 5px 10px;
    top: 0px;
    transition-duration: .8s;
}

.head-button {
    padding: 10px;
    width: 12.5% !important;
}

.form-group {
    margin-bottom: 10px;
}

.req-message {
    font-size: 10px;
    color: #f00;
    margin: 0 0 3px;
}

.non-req-message {
    font-size: 10px;
    color: rgb(139, 139, 139);
    margin: 0 0 3px;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    font-size: 11px;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    font-size: 11px;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 11px;
}

div.dataTables_wrapper div.dataTables_length label {
    font-size: 11px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-size: 11px;
}

.form-control {
    display: block;
    width: 100%;
    height: 33px;
    padding: 10px 12px;
    font-size: 13px;
    line-height: 15px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 5px;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    font-size: 11px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    font-size: 11px;
}

.btn-section {
    min-height: 77px;
    width: 100%;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 7px;
    display: table;
    margin: 0 auto;
}

.btn-section p,
.btn-section i {
    display: table;
    margin: 0 auto;
    color: #061323;
    font-size: 14px;
    font-weight: 300;
}

.btn-section i {
    font-size: 30px;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    padding-left: 10px!important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #dedcdc;
}

.scheduler-border h3 {
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 7px 15px;
}

.container-a {
    background-color: rgb(6, 19, 35);
    padding-top: 37px;
    padding-bottom: 3px;
}

.section-a-left #txt,
.section-a-left #txt1,
.section-a-left #txt2 {
    text-align: right;
    font-size: 11px;
    color: rgb(255, 255, 255);
}

.head-button img {
    margin: 0 auto;
    padding-bottom: 5px;
}

.head-button a {
    font-size: 16px;
    padding-top: 3px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.container-a img {
    width: 27%;
    padding-bottom: 0;
    margin: 0 auto
}

.btn-section:hover {
    background-color: rgb(250, 233, 219);
    text-decoration: none;
}

.active {
    background-color: rgb(250, 233, 219);
}


/* container-b */

.container-b {
    min-height: 515px;
    padding: 20px 0;
}

.container-b h2 {
    color: rgb(255, 162, 86);
    font-weight: 700;
    font-size: 27px;
}

.container-b .fa-window-close {
    color: red;
    font-size: 18px;
}

.container-b .fa-edit {
    color: rgb(255, 162, 86);
    font-size: 18px;
}


/* .container-footer-copyright------------------------- */

.container-footer-copyright {
    color: rgb(242, 242, 242);
    font-family: 'Poppins', sans-serif;
    padding: 3px;
    letter-spacing: 1px;
    font-size: 10px;
    background-color: #ffa256;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
}

.container-footer-copyright a {
    color: rgb(255, 255, 255);
}

.container-footer-copyright a:hover {
    color: rgb(118, 8, 238);
}


/* table */

.table-div td {
    text-align: center;
}

.form-check-input {
    position: unset !important;
    margin-top: unset !important;
    margin-left: -1.25rem
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: rgb(156, 156, 156);
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 5px;
}

.select2-container .select2-selection--single {
    height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    top: 6px;
    right: 1px;
    width: 40px;
}