/* section-b-right  */
.section-b-right .col-form-label {
    font-size: 13px;
    font-weight: 600;
}
.section-b-right .col-form-label span {
    color: rgb(255, 0, 0);
}
 .back-right{
    text-align: right;
   position: absolute;
   bottom: 20px;
   right: 20px;
}
.payment-viwe .table-bordered>tbody>tr>td{
    padding: 5px;
    font-size: 12px;
   
}
.payment-viwe 
.table>thead:first-child>tr:first-child>th{
    font-size: 13px;
}

.payment-tbl2>tbody>tr>td{
    padding: 5px !important;
    text-align: right;
    font-size: 12px;
}
.b-empolyee-full {
    min-height: 400px !important;
}


/* dashbord-full */
.dashbord-full .bg-info {
    background-color: rgb(23, 162, 184)!important;
}

.small-box {
    color: rgb(243, 243, 243);
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 15px;
    position: relative;
    min-height: 60px;
}
.small-box>.inner {
    padding: 10px;
}
.small-box h3{
    font-size: 30px;
    font-weight: 700;
    color: rgb(243, 243, 243);
}
.small-box p {
    font-size: 20px;
}
.icon .ico1{
    position: absolute;
 
    right: 30px;
    font-size: 70px;
    top: 20px;
}
.small-box>.small-box-footer:hover {
    background: rgba(0,0,0,.15);
    color: rgb(255, 255, 255);
}
.small-box>.small-box-footer {
    background: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}
.small-box-footer{
    font-size: 12px !important;
}

.dashbord-full .bg-success {
    background-color: rgb(40, 167, 69)!important;
}
.dashbord-full .bg-warning {
    background-color: rgb(255, 193, 7)!important;
}


.dashbord-full  .bg-danger{
    background-color: rgb(220, 53, 69)!important;
}

.dashbord-full .bg-secondary{
 
    background-color: rgb(108, 117, 125)!important;
 
}

.dashbord-full  .bg-info{
    background-color: rgb(23, 162, 184)!important;
}